<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 📌 Setting autowire to byType -->
        <!-- 👉 This mode injects the dependency according to the type of the bean. -->
        <!-- 👉 It looks up in the configuration file for the class type of the property. -->
        <!-- 👉 If it finds a unique bean that matches, it injects the property. -->
        <!-- 👉 It internally invokes the setter method for autowiring. -->
        <!-- 👉 If no matching bean is found, the property will remain unwired. -->
        <!-- 👉 If more than one bean with matching type is found the program throws a NoUniqueBeanDefinitionException. -->

    <!-- 📢 Now, no need to keep this id same as bean attribute name -->
    <bean class="io.spring.beans.Account" id="account">
        <property name="accountNumber" value="0662104000164641" />
        <property name="accountType" value="Savings" />
        <property name="balance" value="24802.33" />
    </bean>

    <bean class="io.spring.beans.Customer" id="customerObj" autowire="byType">
        <property name="customerId" value="C001" />
        <property name="name" value="Ganesh" />
        <property name="email" value="eyeganeshgupta@gmail.com" />
        <property name="phoneNumber" value="89839 71752" />
        <!-- <property name="account" value="" /> -->
    </bean>

</beans>