<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 🚀 Explicitly specifying singleton 🚀 -->
    <bean class="io.spring.beans.Programmer" name="programmerObj01" scope="singleton">
        <property name="name" value="Ganesh Gupta" />
        <property name="language" value="Java" />
        <property name="experience" value="3" />
        <property name="favoriteEditor" value="IntelliJ IDEA" />
        <property name="projectsCompleted" value="6" />
        <property name="githubProfile" value="https://github.com/eyeganeshgupta" />
    </bean>

    <!-- 🚀 Implicit singleton 🚀 -->
    <bean class="io.spring.beans.Programmer" name="programmerObj02">
        <property name="name" value="Sheetal Gupta" />
        <property name="language" value="JavaScript" />
        <property name="experience" value="0" />
        <property name="favoriteEditor" value="VS Code" />
        <property name="projectsCompleted" value="1" />
        <property name="githubProfile" value="https://github.com/eyesheetalgupta" />
    </bean>

</beans>