<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Definition of the Student bean with id "studentObj" -->
    <bean class="io.spring.beans.Student" id="studentObj">
        <property name="studentId" value="12" />
        <property name="name" value="Ganesh Gupta" />
        <property name="age" value="21" />
        <property name="grade" value="T.Y.B.Sc.CS" />
        <property name="emails">
            <!-- ▶ Spring provides <set> tag to inject a Java Set using XML -->
            <!-- ▶ The <set> tag is used within <property> or <constructor-arg> -->
            <!-- ▶ To add values in the Set, the Spring framework provides <value> tag which is nested within <set> tag. -->
            <!-- ▶ The <set> tag creates and passes the java.util.LinkedHashSet object. -->
            <set>
                <value>eyeganeshgupta@gmail.com</value>
                <value>ganeshgupta9762@gmail.com</value>
            </set>
        </property>
    </bean>

</beans>