<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="io.spring.beans.Car" id="carObj" init-method="start" destroy-method="stop">
        <constructor-arg index="0" value="Toyota" />
        <constructor-arg index="1" value="Camry" />
        <constructor-arg index="2" value="2023" />
        <constructor-arg index="3" value="Blue" />
        <constructor-arg index="4" value="25000.00" />
    </bean>

</beans>