<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="io.spring.beans.Account" id="account">
        <property name="accountNumber" value="0662104000164641" />
        <property name="accountType" value="Savings" />
        <property name="balance" value="24802.33" />
    </bean>

    <bean class="io.spring.beans.Address" id="address">
        <property name="street" value="Valai Pada Road" />
        <property name="city" value="Nalasopara" />
        <property name="state" value="Maharashtra" />
        <property name="postalCode" value="401209" />
        <property name="country" value="India" />
        <property name="apartmentNumber" value="07" />
        <property name="landmark" value="N.H. Bakery" />
    </bean>

    <bean class="io.spring.beans.Address" id="villageAddress">
        <property name="street" value="Kathari Road" />
        <property name="city" value="Kerakat" />
        <property name="state" value="Uttar Pradesh" />
        <property name="postalCode" value="222142" />
        <property name="country" value="India" />
        <property name="apartmentNumber" value="01" />
        <property name="landmark" value="Kathari School" />
    </bean>

    <!-- Here autowire=“constructor” -->
    <bean class="io.spring.beans.Customer" id="customerObj" autowire="constructor">
        <constructor-arg index="0" value="C001" />
        <constructor-arg index="1" value="Ganesh" />
        <constructor-arg index="2" value="eyeganeshgupta@gmail.com" />
        <constructor-arg index="3" name="phoneNumber" value="89839 71752" />
        <!-- <constructor-arg type="io.spring.beans.Account" ref="" /> -->
        <!-- <constructor-arg type="io.spring.beans.Address" ref="" /> -->

        <!-- Now Spring will select villageAddress object and will override the Address bean selected by autowiring. /> -->
        <constructor-arg index="5" ref="villageAddress" />
    </bean>

</beans>